:root {
    /*place common colors, paddings,.. here*/
    --light-green: #55efc4;
    --faded-green: #81ecec;
    --blue: #74b9ff;
    --purple: #a29bfe;
    --light-grey: #dfe6e9;
    --dark-grey: #b2bec3;
    --dark-green: #00b894;
    --faded-blue: #00cec9;
    --dark-blue: #0984e3;
    --dark-purple: #6c5ce7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Ysabeau Infant', sans-serif;
}

body {
    min-height: 100vh;
}

header {
    font-size: 45px;
    font-weight: bold;
    padding: 1rem;
    background-color: var(--dark-green);
    color: white;
    font-variant:small-caps;
    border-bottom: 2px inset rgb(29, 151, 37);
    box-shadow: 5px 5px 15px var(--light-grey);
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
}

#addBook {

}

button {
    border: 0;
    border-radius: 4px;
    width: 100px;
    padding: .3rem;
    background-color: var(--faded-blue);
    font-size: 1.1rem;
    font-weight: bold;
    font-variant: small-caps;
    color: white;
    text-shadow: 1px 1px var(--dark-grey);
}

#modalBackground {
    width: 100%;
    background-color: rgba(200,200,200,0.5);
    z-index: 2;
    position: fixed;
    top: 0;
    bottom: 0;
}

#modal {
    /*Below 4 lines make sure the modal is always centered, also in mobile view*/
    position: fixed;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 400px;
    min-width: 350px;
    border: 3px solid var(--dark-green);
    border-radius: 5px;
    padding: 1rem;
    background-color: var(--light-grey);
}

#closeButton {
    font-size: 40px;
    color: var(--dark-green);
    font-weight: bolder;
    position: absolute;
    right: 20px;
    top: 0px;
}

#closeButton:hover {
    color: red;
    cursor: pointer;
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

form label, button {
    display: block;
}

#error {
    color: red;
    display: none;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 1rem;
    gap: 1rem;
    padding: 2rem;
}

#bookCollection {
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    width: 250px;
    height: 280px;
    border: 1.5px solid var(--dark-green);
    border-radius: 5px;
    text-align: center;
    overflow: none;
    box-shadow: 2px 2px 5px var(--light-grey);
}

.card-top {
    padding: 1.5rem;
    background-color: rgba(92, 223, 208, 0.226);
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-bottom {
    padding: .5rem 1.5rem 1.5rem 1.5rem;
}

.title {
    font-weight: bolder;
    font-size: 1.2rem;
}

/*center the buttons*/
.card p {
    margin: 0.1rem auto;
}

.card button {
    margin: 0.5rem auto;
}
