:root {
    /*place common colors, paddings,.. here*/
    --light-green: #55efc4;
    --faded-green: #81ecec;
    --blue: #74b9ff;
    --purple: #a29bfe;
    --light-grey: #dfe6e9;
    --dark-grey: #b2bec3;
    --dark-green: #00b894;
    --faded-blue: #00cec9;
    --dark-blue: #0984e3;
    --dark-purple: #6c5ce7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Ysabeau Infant', sans-serif;
}

body {
    min-height: 100vh;
}

header {
    font-size: 45px;
    font-weight: bold;
    padding: 1rem;
    background-color: var(--dark-green);
    color: white;
    font-variant:small-caps;
    border-bottom: 2px inset rgb(29, 151, 37);
    box-shadow: 5px 5px 15px var(--light-grey);
    display: flex;
    justify-content: space-between;
}

#modalBackground {
    width: 100%;
    background-color: rgba(200,200,200,0.5);
    z-index: 2;
    position: fixed;
    top: 0;
    bottom: 0;
}

#modal {
    position: absolute;
    z-index: 3;
    top: calc(50% - 200px);
    left: calc(50% - 175px);
    min-height: 400px;
    min-width: 350px;
    border: 3px solid var(--dark-green);
    border-radius: 5px;
    padding: 1rem;
    background-color: var(--light-grey);
}

#closeButton {
    font-size: 40px;
    color: var(--dark-green);
    font-weight: bolder;
    position: absolute;
    right: 20px;
    top: 0px;
}

#closeButton:hover {
    color: red;
    cursor: pointer;
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

form label, button {
    display: block;
}

#error {
    color: red;
    display: none;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 1rem;
    gap: 1rem;
    padding: 2rem;
}

#bookCollection {
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    min-width: 250px;
    padding: 2rem;
    border: 1px solid var(--dark-green);
    border-radius: 5px;
    text-align: center;
}

/*center the buttons*/
.card p, .card button {
    margin: 0.5rem auto;
}

button {
    width: 100px;
    padding: .3rem;
}